<!-- <p>login works!</p> -->

<!-- <p>register works!</p> -->
<div class="registerForm">
 <div class="msg">
  <h3 *ngIf='messege'>{{messege}}</h3>
 </div>
    <div class="myform">
        <h2>Login Form</h2>
        <form class="form-floating" [formGroup] = "loginForm">
  
    <div class="form-floating">
        <input formControlName= "email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input formControlName= "password" type="password" class="form-control" id="floatingPassword" placeholder="Password(min 4 char)">
        <label for="floatingPassword">Password(min 4 char)</label>

      </div>
      <button class="btn btn-primary" (click) = 'goregister()'>Go to Register Page</button>
      <button class="btn btn-success" [disabled]="!loginForm.valid" (click) = 'login()'>Login</button>
    </form>
    </div>
    </div>
